# Testing senario files (LATER DELETE IT)
# testing.txt


# Dependency folder
**/__pycache__/

#remaining logger and logmessage decorator
# docstring
# unit testing
# Integeration testing
# readme
# all types of load, performamce, stress testing and add that in the readme
# more features..