# Testing senario files (LATER DELETE IT)
# testing.txt


# Dependency folder
**/__pycache__/

# virtual envrionment
myenv

# log data created during testing
log.txt

# wheel files during development and production phase
dist
logger_lib.egg-info

# Integeration testing
# readme
# all types of load, performamce, stress testing and add that in the readme
# more features..